---
layout: default
---

<h1>{{ page.title }}</h1>

<p>{% unless page.hide_image %}
  <img src="{{ page.image | relative_url }}" alt="{{ page.imagealt }}" class="project-image" />
{% endunless %}</p>

{{ content }}

{% unless page.hide_tech %}
  <p><strong>Technologies Used</strong>: {{ page.technologies }}</p>
{% endunless %}


<p>{% unless page.show_ODP %}
<a href="{{ '/projects/2026_MAE2250_ODP/' | relative_url }}" class="back-arrow">
    <i class="bi bi-arrow-left-circle-fill"></i> Back to MAE 2250 ODP
</a>{% endunless %}</p>

<a href={{ "/projects/" | relative_url }} class="back-arrow">
    <i class="bi bi-arrow-left-circle-fill"></i> Back to Projects
</a>
